In [1]:
# !pip install openpyxl
# !pip install pandas-gbq -U
# !pip install tableone
# !pip install pydata-google-auth
# !pip install python-docx
# !pip install --upgrade shap numpy
# !pip install --upgrade numpy==2.0.1.
# !pip install equiflow

In [1]:
import pandas as pd
from tableone import TableOne
import sklearn as sk
from xgboost import XGBClassifier, XGBRegressor
import numpy as np
from scipy.stats import ttest_ind
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score, average_precision_score, accuracy_score, recall_score, precision_score, f1_score, balanced_accuracy_score
from sklearn.metrics import r2_score, mean_absolute_error
from fairlearn.metrics import equalized_odds_ratio, demographic_parity_ratio
from sklearn.utils.class_weight import compute_class_weight
from tqdm import tqdm
import warnings
from tableone import tableone
from matplotlib import pyplot as plt
from lightgbm import LGBMClassifier
import pydata_google_auth
import seaborn as sns
from imblearn.pipeline import Pipeline
import pandas_gbq

In [2]:
from equiflow import EquiFlow


warnings.filterwarnings("ignore")

In [3]:
credentials = pydata_google_auth.get_user_credentials(['https://www.googleapis.com/auth/cloud-platform'],)
project = 'capacheiv'
pandas_gbq.context.credentials = credentials

In [62]:
query = ""
for fn in ['icustays', 'apache_vars', 'apache_pt_results', 'sepsis']:
    with open(fn+'.sql_', 'r') as file:
        query += file.read()
query += "select * from sepsis"
project = 'capacheiv'

df = pd.read_gbq(query, dialect='standard', project_id=project)

In [51]:
df['patientunitstayid'].value_counts()

patientunitstayid
6133859    737
5924031    736
6828446    727
5929682    684
6647136    546
          ...
6621643      1
6622959      1
6623188      1
6623257      1
7175511      1
Name: count, Length: 96471, dtype: Int64

In [45]:
df[['pao2','h1_PaO2_min', 'h1_PaO2_max']].describe()

                pao2    h1_PaO2_min    h1_PaO2_max
count  275595.000000  284332.000000  284332.000000
mean      139.410949     145.111220     170.238010
std       106.580864     106.280887     122.853974
min        15.000000      15.000000      15.000000
25%        73.000000      71.000000      77.000000
50%        98.000000     104.000000     121.000000
75%       158.000000     186.000000     236.000000
max       720.000000     625.000000     629.000000

In [5]:
#importing data from eICU 1, 2015 and 2016
query = ""
for fn in ['icustays', 'apache_vars', 'apache_pt_results', 'sepsis']:
    with open('sql_copy/'+fn+'.sql', 'r') as file:
        query += file.read()
query += "select * from sepsis"
project = 'capacheiv'

gbq_data_15_16 = pd.read_gbq(query, dialect='standard', project_id=project)

In [6]:
#importing data from eICU 2, 2017 until 2021
query = ""
for fn in ['icustays', 'apache_vars', 'apache_pt_results', 'sepsis']:
    with open('sql_new/'+fn+'.sql', 'r') as file:
        query += file.read()
query += "select * from sepsis"
project = 'capacheiv'

gbq_data_17_21 = pd.read_gbq(query, dialect='standard', project_id=project)

In [7]:
df_old = gbq_data_15_16
df_new = gbq_data_17_21

In [8]:
df_new_no_duplicates = df_new[~df_new['uniquepid'].isin(df_old['uniquepid'])]

In [9]:
df_pre_clean = pd.concat([df_old, df_new_no_duplicates], axis=0, ignore_index=True)

In [10]:
df_first_admission = df_pre_clean[df_pre_clean['HOSP_NUM'] == 1]

In [11]:
df = df_first_admission[df_first_admission['has_sepsis'] == 1]

In [13]:
print(f"full: {len(df_new_no_duplicates)}\n"
      f"first_admissions: {len(df_first_admission)}\n"
      f"sepsis: {len(df)}\n")

full: 100047
first_admissions: 156921
sepsis: 27141

In [14]:
eqfl = EquiFlow(
   df_pre_clean,
   initial_cohort_label = 'in original dataset',
   categorical = ['gender', 'ethnicity', 'HOSP_NUM']
)

eqfl.add_exclusion(
   mask = df_pre_clean['HOSP_NUM'] > 1,
   exclusion_reason = 'First Admission Only',
   new_cohort_label = 'with English Proficiency data'
)

eqfl.plot_flows()

In [17]:
from scipy.stats import chi2_contingency

In [28]:
df_pre_clean['source'] = 'df_pre_clean'
df['source'] = 'df'
combined = pd.concat([df_pre_clean, df])

contingency_table_ethnicity = pd.crosstab(combined['ethnicity'], combined['source'], normalize='columns')
contingency_table_sex = pd.crosstab(combined['gender'], combined['source'], normalize='columns')

chi2_ethnicity, p_ethnicity, _, _ = chi2_contingency(contingency_table_ethnicity)
chi2_sex, p_sex, _, _ = chi2_contingency(contingency_table_sex)

print(f"Ethnicity: Chi2 = {round(chi2_ethnicity, 4)}, p = {round(p_ethnicity, 10)}")
print(f"Sex: Chi2 = {round(chi2_sex, 4)}, p = {round(p_sex, 10)}")

Ethnicity: Chi2 = 0.0026, p = 1.0
Sex: Chi2 = 0.0015, p = 0.999999703